.container {
    max-width: 1140px;
}

.d-flex {
    display: flex;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;    
}

.w-100 {
    width: 100%;
}


