@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,400;6..96,600;6..96,700;6..96,800&display=swap');

*, body, html{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body{
  margin: 0;
}

h1,h2,h3,h4,h5,p{
  margin: 0;
}

h3 {
  font-weight: 700;
  margin-bottom: 0.5rem;
}

a, button {
  outline: 0;
  cursor: pointer;
}

a{
  text-decoration: none;
  color: var(--blue-color);
}

button{
  border: none;
  box-shadow: none;
}

p {
  line-height: 1;
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
