.button {
    background-color: transparent;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    &__primary {
        background-color: var(--main-bg-color);
        color: var(--white-color);
    }

    &__with-border {
        border: 2px solid var(--blue-color);
        background-color: var(--white-color);
        color: var(--blue-color);
    }
}