.form-register-category{
  .errorResponse {
    color: red;
  }
    color: var(--main-bg-color);
    .form-register-row{
      width: 100%;
      .form-row{
        display: flex;
        flex-direction: column;
        margin: .5rem 0;
        input, select, textarea{
          background-color: var(--white-color);
          border: none;
          border-radius: var(--standard-border);
          padding: .5rem;
          box-shadow: 0px 0px 4px 0px #b7b7b7;
        }
        span{
          color: red;
        }
      }
    }

    .responseForm{
      p{
        max-width: 500px;
        margin: auto;
        margin-top: 1rem;
      }
      p.errorResponse{
        color: red;
      }
    }
    .labelCategoryImage{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
        border: 1px solid var(--main-bg-color);
        border-radius: var(--standard-border);
        padding: .5rem;
        background-color: var(--white-color);
        svg{
          color: var(--second-bg-color);
          font-size: 1.5rem;
        }
      }
      .labelCategoryImage:hover{
        background-color: var(--second-bg-color);
        svg{
          color: var(--main-bg-color);
        }
      }
  }
.buttons{
    background-color: var(--main-bg-color);
    border:var(--main-bg-color)
}
.container-button{
  display: flex;
  justify-content: center;
}
.add-category{
  background-color: var(--main-bg-color);
  color: var(--white-color);
  padding: .5rem;
  width: 100%;
  border-radius: var(--standard-border);
  @include media-query(large){
    width:20%;
  }
  @include media-query(medium){
    width:20%;
  }

}
.add-category:hover{
  background-color: var(--main-bg-color-hover);
}
  


