.admin{
  padding: 1rem;
  background-color: var(--backgroud-grey);
  min-height: calc(100vh - 141px);
  .admin-actions{
    display: flex;
    justify-content: center;
    margin: 1rem auto; 
    gap:.5rem;
    @include media-query(large) {
      .row-buttons{
        gap:.5rem;
        display: flex;
        flex-direction: row;
      }
    }
    a{
      button{
        text-align: center;
        border: 1px solid var(--main-bg-color);
        border-radius: var(--standard-border);
        padding: .5rem;
        background-color: var(--white-color);
        color: var(--main-bg-color);
        font-weight: 600;
        width: 100%;
        @include media-query(large) {
          min-width: 200px;
        }
      }
      button.active{
        background-color: var(--second-bg-color);
        border: none;
      }
    }
  }
}