.users-list {
    &__container {
        margin-top: 3rem;
        margin-bottom: 3rem;
        display: flex;
        justify-content: center;
    }
}

.user-list {
    &__wrapper {
        max-width: 1140px;
        width: 100%;
    }
}

.success-msg {
    position: absolute;
    top: 80px;
    left: 50%;
    z-index: 1000;
    margin: 0 auto;
    transform: translateX(-50%);
}