@import 'bootstrap/dist/css/bootstrap.min.css';
// @import '~bootstrap/scss/bootstrap';

:root {
  --main-bg-color: #14347C;
  --second-bg-color: #FBC02D;
  --white-color: #FFF;
  --black-color: #000;
  --grey-hover-color: #e9ecef
  --standard-border: 5px;
}