.suggestions {
    &__container {
        background-color: #F8F8F8;
        display: flex;
        flex-wrap: wrap;
        padding: 1rem;
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex: 1 1 auto;
    }
}