.SuccesBooking{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #ebe9e9;
}
.SuccesBooking-main{
    display: flex;
    width: 50%;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-bottom: 40px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px 0px #00000040;
    ;

}

.custom-button
{
    margin-top: 35px;
    margin-bottom: 35px;
    padding: 10px 120px 10px 120px;
    align-self: center;
    background-color: #FBC02D;
    color: #FFFFFF;
    font-weight: 700;
    border-radius: 10px;
    box-shadow: 0px 2px 4px 0px #0000001F;


    
}

.check-icon{
    margin-top: 20px;
    color: #14347C;
    width: 78px;
    height: 74px;
   
}
h3{
    font-weight: 700;
    color: #14347C;
    padding-top: 15px;
}

.SuccesBooking-main p{
    padding-top: 5px;
    color: #383B58;
    font-size: 25px;
    font-weight: 700;
}