.bookings{
  background-color: #EBEBEE;
  padding: 1rem;
  // @include media-query(large){
  //   max-width: 1115px;
  //   margin: auto;
  // }
  .calendar-container{
    margin-top: 1rem;
    .mobile-calendar {
      // width: 100%;
      margin: auto;
      .rmdp-day.rmdp-today span{
        background-color: var( --second-bg-color);
      }
    }
  }
}

.rmdp-range:has(.reserved) {
  background-color: #8fb4f9;
}

.rmdp-range:has(.in-service) {
  background-color: #cc0303;
}

div.reserved {
  background-color: #8fb4f9;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

div.in-service {
  background-color: #cc0303;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.un-availble {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.un-availble p {
  margin: 0;
}