.bookings{
  background-color: #EBEBEE;
  padding: 1rem;
  .calendar-container{
    @include media-query(large){
      max-width: 1115px;
      margin: auto;
    }
    .bookings_title{
      display: flex;
      align-self: start;
      margin-bottom: 1rem;
    }
    .calendar_filtered{
      margin-top: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 1rem;
      @include media-query(large){
        flex-direction: row;
        justify-content: space-between;
      }
      .mobile-calendar {
        // width: 100%;
        // margin: auto;
        .rmdp-day.rmdp-today span{
          background-color: var( --second-bg-color);
        }
      }
      .bookings-action{
        background: white;
        border: 1px solid #cfd8e2;
        margin: 1rem 0;
        padding: 2rem;
        border-radius: 5px;
        text-align: center;
        @include media-query(small){
          min-width: 570px;
        }
        @include media-query(large){
          min-width: auto;
        }
        button{
          margin-top: .5rem;
          width: 100%;
        }
      }
    }
  }
}

.rmdp-range:has(.in-service) {
  background-color: inherit;
  border: none;
  box-shadow: inherit;
  color: #c8c8c8;
  span{
    text-decoration: line-through;;
  }
}


